<h4>Footer Information</h4>
<div class="footer-container">
  <div class="footer-information">
    <ul>
      <li><a>FAQ1</a></li>
      <li><a>Privacy1</a></li>
      <li>Testing1</li>
      <li><a>Information1</a></li>
    </ul>
  </div>
  <div class="footer-information">
    <ul>
      <li><a>FAQ2</a></li>
      <li><a>Privacy2</a></li>
      <li><a>Testing2</a></li>
      <li><a>Information2</a></li>
    </ul>
  </div>
  <div class="footer-information">
    <ul>
      <li><a>FAQ3</a></li>
      <li><a>Privacy3</a></li>
      <li><a>Testing3</a></li>
      <li><a>Information3</a></li>
    </ul>
  </div>
  <div class="footer-information">
    <ul>
      <li><a>FAQ4</a></li>
      <li><a>Privacy4</a></li>
      <li><a>Testing4</a></li>
      <li><a>Information4</a></li>
    </ul>
  </div>
</div>
