<h4>Footer Information</h4>
<div class="footer-container">

    <div class="footer-information">
        <ul><li><a routerLink="/home">FAQ1</a></li>
            <li>Privacy1</li><li>Testing1</li>
            <li>Information1</li></ul>
    </div>
    <div class="footer-information">
        <ul><li>FAQ2</li>
            <li>Privacy2</li><li>Testing2</li><li>Information2</li></ul></div>
    <div class="footer-information">
        <ul><li>FAQ3</li>
            <li>Privacy3</li><li>Testing3</li><li>Information3</li></ul>
            </div>
            <div class="footer-information">
                <ul><li>FAQ4</li>
                    <li>Privacy4</li><li>Testing4</li><li>Information4</li></ul>
                    </div>
   </div>
