.login-container {
  display: flex;
  justify-content: center;
  margin: 2.5vw;

  .login-form {
    height: 25rem;
    padding: 20px;
    border: 2px solid grey;
    h1 {
      text-align: center;
      margin: 20px;
    }
  }
}
