.user-detail-container {
  overflow-x: auto;
  margin: 2.5rem 0rem;
}
table {
  border-collapse: none;
  width: 100%;

  th,
  td {
    text-align: center;
    padding: 1vw;
  }

  th,
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
}
