
<div class="home-container">
    <img src="images/features_background.webp">
</div>
<h4>Trending</h4>
<div class="grid-container">
 <img class="grid-image-boxes" src="images/convective_clouds.webp"/>
 <img class="grid-image-boxes" src="images/snowy.webp"/>
 <img class="grid-image-boxes" src="images/scotland.webp"/>
 <img class="grid-image-boxes" src="images/partly_cloudy.webp"/>
 <img class="grid-image-boxes" src="images/mountains.webp"/>
 <img class="grid-image-boxes" src="images/overcast_sunset.webp"/>
</div>
<h4>Reasons to Join</h4>
<div class="grid-container">
    <div class="flex-card-information"><h5><b>Enjoy on your TV</b></h5><p>Watch on smart TVs, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray players and more.</p></div>
    <div class="flex-card-information"><h5><b>Download your shows to watch offline
    </b></h5><p>Save your favourites easily and always have something to watch.</p></div>
    <div class="flex-card-information"><h5><b>Watch everywhere</b></h5><p>Stream unlimited movies and TV shows on your phone, tablet, laptop and TV.</p></div>
    <div class="flex-card-information"><h5><b>Create profiles for kids</b></h5><p>Send kids on adventures with their favourite characters in a space made just for them — free with your membership.</p></div>
   </div>
   <h4>Accordion</h4>

  <!--- <div *ngFor="let item of data;let i = index;">
    <button class="accordion" (click)="toggleAccordian($event, i)"> {{item.parentName}} </button>
    <div class="panel" hide="!item.isActive">
      <input type="text">
      <p *ngFor="let child of item.childProperties"> {{child.propertyName}} </p>
    </div>
  </div>-->


