/*@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')*/

$primary-color:#fff;
$font-color: #000;
*{
    padding:0px;
    margin:0px;
}
body{
    max-height:100vh;
    background:$primary-color !important;
    color:$font-color;
    font-size: 1.25rem;
    
}
.container{
margin:20px;

}





